* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font: 1.5em italic, Arial;
  background-color: aqua;
  font-style: italic;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 68%; /* 90% is too much */
  margin-right: .5%;
  background-color: orchid;
}

form #button {
  color: #FFF;
  background: blue;
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  
}

#messages li:nth-child(odd) {
  background: #eee;
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */